:root {
    --accent-color: #2196F3;
    --main-color: #212121;
    --secondary-color: #757575;
}

body {
    color: #F5F5F5;
    background-color: #F5F5F5;

    font-family: 'Roboto';
    letter-spacing: 0.03em;


}

/* Логотип */

.logo {
    color: black;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

}


/* Навигация */

.navigation-list,
.link,
.contacts {
    list-style: none;
    color: #212121;
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


.studio-hover:hover {
    color: var(--accent-color);
}

.mail-hover:hover {
    color: var(--accent-color);
}

.accent {
    color: var(--accent-color);
}

/* Для всех слов серого цвета */
.secondary-color {
    color: var(--secondary-color);
}