:root{
    --accent-color: #2196F3;
    --main-color: #212121;
    --secondary-color:#757575; 
    --button-color:#F5F4FA;
    --button-active-color: #188CE8; 
    --white-color: #FFFFFF;
    --solutions-bg-color: #2F303A;
    --black-color: #000000; 
}

body{
    color: var(--white-color);
    background-color: var(--white-color);

    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

/* Логотип */

.logo{
    color: var(--black-color);
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

}


/* Навигация */

.navigation-list, .link, .contacts{
    list-style: none;
    color: var(--main-color);
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/* Ховеры */

.object-hover:hover,
.object-hover:focus{
    color: var(--accent-color);
}


/* Заказать услугу */

.solutions{
    background-color: var(--solutions-bg-color);
    text-align: center;
}

.solutions h1{
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
}

.primary-button{
    background-color: var(--accent-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;

    cursor: pointer;
}

.primary-button:hover,
.primary-button:focus{
    background-color: var(--button-active-color);
}


/* Особенности */
.properties-title{
    color: var(--main-color); 
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.properties-description{
    color: var(--secondary-color);
    font-size: 14px;
    line-height: 1.7;
}


/* Чим ми займаємося */

.services-title{
    color: var(--main-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.services-list{
    list-style: none;
}

/* Команда */

.team {
    background-color: var(--button-color);
}

.team-title{
    color: var(--main-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.team-member-name{
    color: var(--main-color);
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.job-title{
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.18;
}

.team-card-description{
    background-color: var(--white-color);
}


/* Футер */
.page-footer{
    background-color: var(--solutions-bg-color);
}

.footer-list{
    list-style: none;
}

.footer-list a{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.adress{
    color: var(--white-color);
}

.footer-logo{
    color: var(--white-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

/* Разметка проектов */

.projects-list{
    list-style: none;
    color: var(--main-color);
}


.project-title{
    color: var(--main-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
}

.projects-description{
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
}

.menu-list li{
    list-style: none;
}

/* Кнопки */

.blue-button{
    color: var(--white-color);
    background-color: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    font-family: inherit;

    cursor: pointer;
}

.grey-button {
    color: var(--main-color);
    background-color: var(--button-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    font-family: inherit;

    cursor: pointer;
}

.grey-button:hover,
.grey-button:focus{
    background-color: var(--accent-color);
    color: var(--white-color);
}

/* Для всех слов голубого цвета */
.accent {
    color: var(--accent-color);
}

/* Для всех слов серого цвета */
.secondary-color {
    color: var(--secondary-color);
}